<p id="notice"><%= notice %></p>

<h1>Props</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @props.each do |prop| %>
      <tr>
        <td><%= prop.name %></td>
        <td><%= prop.description %></td>
        <td><%= prop.user.username %></td>
        <td><%= link_to 'Show', prop %></td>
        <td><%= link_to 'Edit', edit_prop_path(prop) %></td>
        <td><%= link_to 'Destroy', prop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prop', new_prop_path %>
