<div class="card hovercard">
    <div class="card-background">
        <img class="card-bkimg" alt="" src="<%= @user.avatar.url(:medium) %>">
    </div>
    <div class="useravatar">
        <img alt="" src="<%= @user.avatar.url(:medium) %>">
    </div>
    <div class="card-info"> <span class="card-title"><%= @user.username %></span>

    </div>
</div>

<div class='md-padding' layout="row" layout-wrap>

  <% @userResults.each do |prop| %>
    <md-card>
      <% u = prop.user %>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" style="width:40px;height:40px;" src="<%= u.avatar.url(:thumb) %>">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title"><%= u.username %></span>
          <span class="md-subhead"><%= u.full_name %></span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="<%= prop.image.url(:medium) %>" style="width: 200px;" class="md-card-image" alt="<%= prop.name %>">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><%= prop.name %></span>
          <span class="md-subhead">tags</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
      <md-card-content>
        <p style="width: 168px;">
          <%= prop.description %>
        </p>
      </md-card-content>
    </md-card>
  <% end %>

</div>