<!--Search bar at the top of the page-->
<form method="get" action=".">
<div class="input-group input-group-lg" id="search-bar">
    <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
      <input type="text" class="form-control" placeholder="What are you looking for?" aria-describedby="sizing-addon1" name="search" value="<%= params[:search] %>">
</div>
</form>

<!--In the future we may use cards instead https://material.angularjs.org/latest/demo/card-->
<div ng-controller="MainCtrl as mainCtrl" ng-cloak="" class="gridListdemoBasicUsage" ng-app="proquo">

<div class='md-padding' layout="row" layout-wrap>

  <% @searchResults.each do |prop| %>
    <md-card>
      <% u = prop.user %>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" style="width:40px;height:40px;" src="<%= u.avatar.url(:thumb) %>">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title"><%= u.username %></span>
          <span class="md-subhead"><%= u.full_name %></span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="<%= prop.image.url(:medium) %>" style="width: 200px;" class="md-card-image" alt="<%= prop.name %>">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><%= prop.name %></span>
          <span class="md-subhead">tags</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
      <md-card-content>
        <p style="width: 168px;">
          <%= prop.description %>
        </p>
      </md-card-content>
    </md-card>
  <% end %>

  </div>
</div>
