<!DOCTYPE html>
<html>
  <head>
    <title>ProQuo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body ng-app="proquo" ng-controller="MainCtrl">
    <% if logged_in? %>
      <!-- This will be displayed if a user is logged in.  Use this as a template for what to do somewhere-->
      <div><%= current_user.username %></div>
      <%= link_to "Log out", logout_path %>
    <% end %>
  <%= yield %>
  </body>
</html>
